<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mymeetingcinema.mapper.FieldMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mymeetingcinema.model.generator.Field">
    <id column="UUID" jdbcType="INTEGER" property="uuid" />
    <result column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="film_id" jdbcType="INTEGER" property="filmId" />
    <result column="begin_time" jdbcType="VARCHAR" property="beginTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="hall_id" jdbcType="INTEGER" property="hallId" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="price" jdbcType="INTEGER" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UUID, cinema_id, film_id, begin_time, end_time, hall_id, hall_name, price
  </sql>
  <select id="selectByExample" parameterType="com.cskaoyan.mymeetingcinema.model.generator.FieldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mtime_field_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mtime_field_t
    where UUID = #{uuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mtime_field_t
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cskaoyan.mymeetingcinema.model.generator.FieldExample">
    delete from mtime_field_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.mymeetingcinema.model.generator.Field">
    insert into mtime_field_t (UUID, cinema_id, film_id, 
      begin_time, end_time, hall_id, 
      hall_name, price)
    values (#{uuid,jdbcType=INTEGER}, #{cinemaId,jdbcType=INTEGER}, #{filmId,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{hallId,jdbcType=INTEGER}, 
      #{hallName,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.mymeetingcinema.model.generator.Field">
    insert into mtime_field_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        UUID,
      </if>
      <if test="cinemaId != null">
        cinema_id,
      </if>
      <if test="filmId != null">
        film_id,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="hallId != null">
        hall_id,
      </if>
      <if test="hallName != null">
        hall_name,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="cinemaId != null">
        #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="filmId != null">
        #{filmId,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="hallId != null">
        #{hallId,jdbcType=INTEGER},
      </if>
      <if test="hallName != null">
        #{hallName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cskaoyan.mymeetingcinema.model.generator.FieldExample" resultType="java.lang.Long">
    select count(*) from mtime_field_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mtime_field_t
    <set>
      <if test="record.uuid != null">
        UUID = #{record.uuid,jdbcType=INTEGER},
      </if>
      <if test="record.cinemaId != null">
        cinema_id = #{record.cinemaId,jdbcType=INTEGER},
      </if>
      <if test="record.filmId != null">
        film_id = #{record.filmId,jdbcType=INTEGER},
      </if>
      <if test="record.beginTime != null">
        begin_time = #{record.beginTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.hallId != null">
        hall_id = #{record.hallId,jdbcType=INTEGER},
      </if>
      <if test="record.hallName != null">
        hall_name = #{record.hallName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mtime_field_t
    set UUID = #{record.uuid,jdbcType=INTEGER},
      cinema_id = #{record.cinemaId,jdbcType=INTEGER},
      film_id = #{record.filmId,jdbcType=INTEGER},
      begin_time = #{record.beginTime,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=VARCHAR},
      hall_id = #{record.hallId,jdbcType=INTEGER},
      hall_name = #{record.hallName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mymeetingcinema.model.generator.Field">
    update mtime_field_t
    <set>
      <if test="cinemaId != null">
        cinema_id = #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="filmId != null">
        film_id = #{filmId,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="hallId != null">
        hall_id = #{hallId,jdbcType=INTEGER},
      </if>
      <if test="hallName != null">
        hall_name = #{hallName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mymeetingcinema.model.generator.Field">
    update mtime_field_t
    set cinema_id = #{cinemaId,jdbcType=INTEGER},
      film_id = #{filmId,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      hall_id = #{hallId,jdbcType=INTEGER},
      hall_name = #{hallName,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER}
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>