<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mymeetingcinema.mapper.HallFilmInfoMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mymeetingcinema.model.generator.HallFilmInfo">
    <id column="UUID" jdbcType="INTEGER" property="uuid" />
    <result column="film_id" jdbcType="INTEGER" property="filmId" />
    <result column="film_name" jdbcType="VARCHAR" property="filmName" />
    <result column="film_length" jdbcType="VARCHAR" property="filmLength" />
    <result column="film_cats" jdbcType="VARCHAR" property="filmCats" />
    <result column="film_language" jdbcType="VARCHAR" property="filmLanguage" />
    <result column="actors" jdbcType="VARCHAR" property="actors" />
    <result column="img_address" jdbcType="VARCHAR" property="imgAddress" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UUID, film_id, film_name, film_length, film_cats, film_language, actors, img_address
  </sql>
  <select id="selectByExample" parameterType="com.cskaoyan.mymeetingcinema.model.generator.HallFilmInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mtime_hall_film_info_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mtime_hall_film_info_t
    where UUID = #{uuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mtime_hall_film_info_t
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cskaoyan.mymeetingcinema.model.generator.HallFilmInfoExample">
    delete from mtime_hall_film_info_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.mymeetingcinema.model.generator.HallFilmInfo">
    insert into mtime_hall_film_info_t (UUID, film_id, film_name, 
      film_length, film_cats, film_language, 
      actors, img_address)
    values (#{uuid,jdbcType=INTEGER}, #{filmId,jdbcType=INTEGER}, #{filmName,jdbcType=VARCHAR}, 
      #{filmLength,jdbcType=VARCHAR}, #{filmCats,jdbcType=VARCHAR}, #{filmLanguage,jdbcType=VARCHAR}, 
      #{actors,jdbcType=VARCHAR}, #{imgAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.mymeetingcinema.model.generator.HallFilmInfo">
    insert into mtime_hall_film_info_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        UUID,
      </if>
      <if test="filmId != null">
        film_id,
      </if>
      <if test="filmName != null">
        film_name,
      </if>
      <if test="filmLength != null">
        film_length,
      </if>
      <if test="filmCats != null">
        film_cats,
      </if>
      <if test="filmLanguage != null">
        film_language,
      </if>
      <if test="actors != null">
        actors,
      </if>
      <if test="imgAddress != null">
        img_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="filmId != null">
        #{filmId,jdbcType=INTEGER},
      </if>
      <if test="filmName != null">
        #{filmName,jdbcType=VARCHAR},
      </if>
      <if test="filmLength != null">
        #{filmLength,jdbcType=VARCHAR},
      </if>
      <if test="filmCats != null">
        #{filmCats,jdbcType=VARCHAR},
      </if>
      <if test="filmLanguage != null">
        #{filmLanguage,jdbcType=VARCHAR},
      </if>
      <if test="actors != null">
        #{actors,jdbcType=VARCHAR},
      </if>
      <if test="imgAddress != null">
        #{imgAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cskaoyan.mymeetingcinema.model.generator.HallFilmInfoExample" resultType="java.lang.Long">
    select count(*) from mtime_hall_film_info_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mtime_hall_film_info_t
    <set>
      <if test="record.uuid != null">
        UUID = #{record.uuid,jdbcType=INTEGER},
      </if>
      <if test="record.filmId != null">
        film_id = #{record.filmId,jdbcType=INTEGER},
      </if>
      <if test="record.filmName != null">
        film_name = #{record.filmName,jdbcType=VARCHAR},
      </if>
      <if test="record.filmLength != null">
        film_length = #{record.filmLength,jdbcType=VARCHAR},
      </if>
      <if test="record.filmCats != null">
        film_cats = #{record.filmCats,jdbcType=VARCHAR},
      </if>
      <if test="record.filmLanguage != null">
        film_language = #{record.filmLanguage,jdbcType=VARCHAR},
      </if>
      <if test="record.actors != null">
        actors = #{record.actors,jdbcType=VARCHAR},
      </if>
      <if test="record.imgAddress != null">
        img_address = #{record.imgAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mtime_hall_film_info_t
    set UUID = #{record.uuid,jdbcType=INTEGER},
      film_id = #{record.filmId,jdbcType=INTEGER},
      film_name = #{record.filmName,jdbcType=VARCHAR},
      film_length = #{record.filmLength,jdbcType=VARCHAR},
      film_cats = #{record.filmCats,jdbcType=VARCHAR},
      film_language = #{record.filmLanguage,jdbcType=VARCHAR},
      actors = #{record.actors,jdbcType=VARCHAR},
      img_address = #{record.imgAddress,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mymeetingcinema.model.generator.HallFilmInfo">
    update mtime_hall_film_info_t
    <set>
      <if test="filmId != null">
        film_id = #{filmId,jdbcType=INTEGER},
      </if>
      <if test="filmName != null">
        film_name = #{filmName,jdbcType=VARCHAR},
      </if>
      <if test="filmLength != null">
        film_length = #{filmLength,jdbcType=VARCHAR},
      </if>
      <if test="filmCats != null">
        film_cats = #{filmCats,jdbcType=VARCHAR},
      </if>
      <if test="filmLanguage != null">
        film_language = #{filmLanguage,jdbcType=VARCHAR},
      </if>
      <if test="actors != null">
        actors = #{actors,jdbcType=VARCHAR},
      </if>
      <if test="imgAddress != null">
        img_address = #{imgAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mymeetingcinema.model.generator.HallFilmInfo">
    update mtime_hall_film_info_t
    set film_id = #{filmId,jdbcType=INTEGER},
      film_name = #{filmName,jdbcType=VARCHAR},
      film_length = #{filmLength,jdbcType=VARCHAR},
      film_cats = #{filmCats,jdbcType=VARCHAR},
      film_language = #{filmLanguage,jdbcType=VARCHAR},
      actors = #{actors,jdbcType=VARCHAR},
      img_address = #{imgAddress,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>